* [role="button"] {
    cursor: pointer;
}

.backend {
	width: 100%;
}
// Helper class to center rows
.row-center {
    text-align: center;
    .col-center {
        float: none;
        margin: auto;
        display: inline-block;
    }
    img {
        display: inline-block !important;
    }
}

// font-size 
h1 { font-size: 350%; }
h2 { font-size: 200%; }
h3, p { font-size: 150%; }
@include general-query(mobile){
	body { font-size: 12px; }
}