.about-us-container {
	.page-title {
		h1 {
			font-size: 40pt;
		}
		
	}
	.post-content {
		margin: 30px;
		text-align: center;
		.post-detail {
			text-align: center;
		}
		.post-description * {
			font-size: 120%;
			letter-spacing: 5px !important;
			font-family: PlayFair;
		}
		.post-image {
			display: inline-block;
		}
		@include general-query(desktop){
			&:nth-child(even){
				.post-detail {
					float: left;
				}
			}
			&:nth-child(odd){
				.post-detail {
					float: right;
				}
			}
		}
	}
}