.post-container {
	text-align: center;
	img {
		display: inline-block;
	}
	p {
		text-align: left;
	}
	&:nth-child(odd) { clear: both; }
	.post-title {
		font-family: PlayFair;
		font-style: italic;
	}
}
