.online-rsvp-container {
	.rsvp-timer {
		span {
			width: 150px;
			border: 2px solid white;
			border-radius: 15px;
			font-size: 25pt;
			padding: 0 15px;
			margin: 0 15px;
			display: inline-block;
		}
		&-header {
			margin-bottom: 40px;
		}
	}
	padding-bottom: 70px;
}