.wedding-day{
	&-overview {
		padding: 30px;
		.embed-video {
			padding: auto 15px;
		}
		.vip-container {
			.vip-name {
				font-size: 2.5em;
				font-weight: 900;
				color: black;
			}
			.vip-relation {
				font-size: 2em;
			}
			.vip-parent {
				font-size: 1.5em;
			}
			span {
				font-size: 14pt;
			}
			p {
				font-family: PlayFair;
			}
		}
		.link {
			font-size: 48pt;
			font-family: Darleston;
		}
	}
	&-events {
		&-date{
			padding: 15px;
			background-color: #ffeea1;
			h2 {
				font-size: 28pt;
				font-family: PlayFair, Helvetica;
			}
		}
		&-description {
			p {
				font-size: 20pt;
				font-family: CacChampagne;
			}
		}

		&-time {
			p {
				font-size: 48pt;
				margin: 40px auto;
				@include general-query(mobile){
					font-size: 40pt;
				}
				.time {
					padding: 5px 15px;
					background-color: #f2f2f2;
					margin: 5px;
					border: 2px solid #ccc;
					color: #000;
					border-radius: 15px;
				}
			}
		}
		&-location {
			* {
				font-family: PlayFair, Helvetica;
			}

		}
	}

	&-bb {
		&-message > p {
			font-style: italic;
		}
		&-slider {
			.bb-slide:first-child {
				margin-bottom: 20px;
			}
			.bb-name, .bb-description > p {
				font-family: 'Times New Roman', serif;
			}
			.bb-description > p {
				font-style: italic;
				font-size: 16px;
			}
		}

	}
	&-vendors{
		&-table {
			table {
				border: none !important;
				th{
					text-align: center;
					border:none !important;
				}
				td {
					text-align: left;
					border: none !important;
				}
			}
		}
	}
}