.wedding-day{
	&-overview {
		padding: 30px;
		.vip-container {
			.vip-name {
				font-size: 22pt;
				color: black;
			}
			span {
				font-size: 14pt;
			}
			p {
				font-family: PlayFair;
			}
		}
		.link {
			font-size: 48pt;
			font-family: Darleston;
		}
	}
	&-events {
		&-date{
			padding: 15px;
			background-color: #ffeea1;
			h2 {
				font-size: 28pt;
				font-family: PlayFair, Helvetica;
			}
		}
		&-description {
			p {
				font-size: 20pt;
				font-family: CacChampagne;
			}
		}

		&-time {
			p {
				font-size: 48pt;
				margin: 40px auto;
				.time {
					padding: 5px 15px;
					background-color: #f2f2f2;
					margin: 5px;
					border: 2px solid #ccc;
					color: #000;
					border-radius: 15px;
				}
			}
		}
		&-location {
			* {
				font-family: PlayFair, Helvetica;
			}

		}
	}

	&-bb {

	}
	&-vendors{
		&-table {
			table {
				border: none !important;
				th{
					text-align: center;
					border:none !important;
				}
				td {
					text-align: left;
					border: none !important;
				}
			}
		}
	}
}