%footer-list {
	display: inline-block;
	&:after {
		content: ' | ';
	}
}

footer {
	padding-top: 20px;
	background-color: $gold-bg;
	a {
		color: black;
		&:hover {
			color: $gold-font;
		}
	}
	.social-media-section {
		ul  {
			li {
				width: 35px;
				height: 35px;
				border: 2px solid $gold-font;
				border-radius: 50%;
				display: inline-block;
				i {
					line-height: 32px;
					color: $gold-font;
				}
				a {
					color: $gold-font;
				}
			}
		}
	}
	.disclaimer-section ul li {
		@extend %footer-list;
	}

	.contact-us-section ul li {
		@extend %footer-list;
	}
	ul {
		padding-left: 0;
	}
}
