.navbar {
	margin-bottom: 0;
	box-shadow: none;
    .navbar-collapse {
        text-align: center;
        .navbar-nav {
            display: inline-block;
            float: none;
			vertical-align: top;
			font-family: PlayFair;
			font-size: 16pt;
			a {
				cursor: pointer;
				color: $gold-font;
				&.active, &:hover {
					color: $gold-dark;
				}
			}
            .navbar-logo-center {
                img {
                    height: 50px;
                }
            }
        }
    }
}

@include general-query(desktop) {

}

@include general-query(mobile) {
    .navbar-header {
        .navbar-toggle {
            margin-top: 20px;
        }
        a.navbar-brand {
            height: auto;
            img {
                height: 50px;
            }
        }
    }
}
