.navbar-frontend, .web-container {
	background-color: $gold-bg;
}

.web-container{
	position: relative;
	&::before{
		background: url('/images/bg-overlay.png');
		background-repeat: repeat-y;
		position: absolute;
		opacity: .1;
		width: 100%;
		height: 100%;
		display: initial;
		left: 0;
	}
	&:before, &:after {
		content: " ";
	}
}

// to keep the page at the top of the stack 
.home-container,
.about-container,
.wedding-day-container,
.online-rsvp-container
{
	position: relative;
	z-index: 1;
}
