@font-face {
	font-family: CacChampagne;
	src: url('/fonts/cac_champagne.ttf');
}

@font-face {
	font-family: PlayFair;
	src: url('/fonts/PlayfairDisplay-Regular.otf');
}

.page-title, .font-theme {
	font-family: CacChampagne;
}
.color-theme {
	color: $gold-font;
}

h1, h2, h3, h4, h5, h6, p {
	color: black;
}