@font-face {
	font-family: CacChampagne;
	src: url('/fonts/cac_champagne.ttf');
}

@font-face {
	font-family: PlayFair;
	src: url('/fonts/PlayfairDisplay-Regular.otf');
}

@font-face {
	font-family: Darleston;
	src: url('/fonts/Darleston.otf');
}

.page-title, .font-theme {
	font-family: CacChampagne;
}
.color-theme {
	color: $gold-font;
}

html, body {
	* {
		color: black;
	}
}

h1, h2, h3, h4, h5, h6  {
	font-family: PlayFair, Helvetica;
}

p {
	font-family: Roboto, Helvetica;
}