.navbar {
	margin-bottom: 0 !important;
	.navbar-custom-menu {
		ul {
			li > a {
				color: black;
				padding: 15px 15px;
			}
		}
	}
	.navbar-nav {
		margin: 0;
		li > .dropdown-menu {
			position: absolute;
			right: 0;
			left: auto;
			background: white;
			@include general-query(mobile){
				border: solid 1px rgba(0, 0, 0, 0.15);
			}
			li > a {
				padding: 15px 15px;
			}
		}
	}
}
