.gallery-tab {
	.thumbnail-gallery {
		cursor: pointer;
		&:hover {
			@extend %box-shadow-light-grey;
		}
		&.active {
			@extend %box-shadow-light-grey;
			border: solid 1px $skin-blue;
		}
	}
}

.thumbnail-image {
	text-align: center;
	position: relative;
	height: 200px;
	overflow: hidden;
	img {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		width: auto;
		transform: translate(-50%, -50%);
	}
}
