.about-us-container {
	.page-title {
		h1 {
			font-size: 40pt;
		}
		
	}
	.post-content {
		margin: 30px;
		.post-detail {
			text-align: center;
		}
		&:nth-child(even){
			.post-detail {
				float: left;
			}
		}
		&:nth-child(odd){
			.post-detail {
				float: right;
			}
		}
	}
}