.about-us-container {
	.page-title {
		h1 {
			font-size: 40pt;
		}
		
	}
	.about-us-content {
		.couple-description {
			text-align: center;
		}
		&:last-child {
			.couple-image {
				float: right;
			}
		}

	}
}